@import 'config';
@import 'utilities';
@import 'form';
@import 'animation';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    // background-image: linear-gradient(to right, #0e6eec, #c70d26);
    background: #fff;
}

// .container {
//     width: 99%;   
//     margin: auto;
// }

a {
    text-decoration: none;
    color: $primary-color;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

// Navbar
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    // border-bottom: 1px solid $primary-color;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0.9;
    width: 100%;
    box-shadow: #333 0 -10px 15px 5px;
    background: $primary-color;

    ul {
        display: flex;
    }

    a {
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.50rem;
        // font-weight: 700;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;

        &:hover {
            color: $dark-color;
        }
    }

}

//Landing 
.landing {
    position: relative;
    // height: 100vh;
    width: 100%;
    padding: 1rem 3rem;
    margin-bottom: 2rem;

    &Inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
    }

    &Text , &Img{
        color: $dark-color;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        // padding: 0 0.5rem;
    }
}

//Profiles
.profile {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem 1.5rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 8px 8px rgba(0,0,0,0.12);
}

.profile-text a.btn {
    margin-top: 0.5rem;
}

//Profiles 
.profile-grid {
    display: grid;
    grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
    grid-gap: 2rem; 
    // text-align: center;
    
    .profile-top {
        grid-area: top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 8px 8px rgba(0,0,0,0.12);

        img {
            width: 250px;
        }

        .icons a {
            margin: 0 0.5rem;

            .pulse {
                animation: pulse 0.5s infinite;
            }
        }
    }

    .profile-about {
        grid-area: about;
        text-align: center;
        box-shadow: 0 8px 8px rgba(0,0,0,0.12);

        .skills {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .profile-exp {
        grid-area: exp;
        box-shadow: 0 8px 8px rgba(0,0,0,0.12);
    }

    .profile-edu {
        grid-area: edu;
        box-shadow: 0 8px 8px rgba(0,0,0,0.12);
    }

    .profile-exp,
    .profile-edu {
        & > div {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px dotted #ccc;

            & > h3, p {
                margin-bottom: 0.6rem;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .profile-github {
        grid-area: github;

        .repo-one,
        .repo-two,
        .repo-three {
            display: flex;
            box-shadow: 0 8px 8px rgba(0,0,0,0.12);
    
            & > div:first-child {
                flex: 7;
                flex-basis: 80%;
            }

            & > div:last-child {
                flex: 3;
                flex-basis: 20%;
            }
        }
    }
}

// Post Page
.post-form-header {
    padding: 0.6rem 0.8rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12);
}

.post {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);

    h4 {
        padding: 0.5rem 0;
    }

    p {
        color: $dark-color;
    }

    & > div:first-child {
        text-align: center;
        background: $light-color;
        padding: 1.5rem 1rem 1rem 1rem;
    }

    img {
        width: 150px;
    }

    .btn {
        margin-top: 1.5rem;
    }
}

// Media Query
@import 'mobile';
